app/src/main/cpp/ncnn/lib/arm64-v8a/libncnn.a filter=lfs diff=lfs merge=lfs -text
app/src/main/assets/ncnn/*.bin filter=lfs diff=lfs merge=lfs -text
app/release/app-release.apk filter=lfs diff=lfs merge=lfs -text
